.idea/
config.toml
token.tok
tests/*
.KillLime_prod/*
.KillLime_replayer/*
KillLime_prod/*
.KillLime_zeqa/*
.direct_test/*
.KillLime_portal_prod/*
survival_proxy/*
players/*
.DS_Store
.fleet/
.vscode.code-workspace
example/spectrum/spectrum.exe
example/spectrum/logs/*
example/default/logs/*
example/default/proxy.exe